<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("partials/header"); -%>

<link rel="stylesheet" type="text/css" href="css/about.css">

<header class='masthead'>
  <p class='masthead-intro'>Hi I'm</p>
  <h1 class='masthead-heading'>Adhish!</h1>
</header>
<div class="introduction-section">
    <h1 style="color: #F1C863;">Introduction</h1>
    <p style="color: #FFFFFF;">I'm not all that good talking about myself, but I can surely Talk Movies!</p>
    <p style="color: #FFFFFF;">I love movies, technology, and writing films.</p>
</div>
<div class="location-section">
    <h1 style="color: #F1C863;">Where I'm From</h1>
    <p style="color: #FFFFFF;">I'm from New Delhi, India. </p>
</div>
<div class="questions-section">
    <h1 style="color: #F1C863;">More About Me</h1>
    <h2 style="color: #F1C863;">What are your favorite hobbies?</h2>
    <p style="color: #FFFFFF;">My favorite hobby is watching movies. But also writing films of all genres, mainly Action Thriller. </p>
    <h2 style="color: #F1C863;">What's your dream job?</h2>
    <p style="color: #FFFFFF;">My dream job is similar to my current hobby except I would like to direct the films I write too. </p>
    <h2 style="color: #F1C863;">Why do you want to be a film writer?</h2>
    <p style="color: #FFFFFF;">Because I have a vivid imagination. I've watched enough films to somehow put all that movie knowledge to use and eventually make a career out of it.</p>
</div>

<%- include("partials/footer"); -%>