h3.homeTitle {
	text-align: center;
	font-weight:bold;
	margin-top: 25px;
}

p.intro {
	font-size: 17px;
	padding-top: 7px;
}

div.rightTitle {
margin:0px 0px 0px 0px;
padding: 5px 5px 5px 5px;
background-color: #333;
}

a {
	color: white;
}

a:hover {
	color:white;
}

h3.rightHeading {
	text-align: center;
}

div.rightdiv {
background-color: #2F4F4F;
position: absolute;
right:0;
max-width: 300px;
padding: 10px 10px 10px 10px;
border-color: #2F4F4F;
border-width: 5px;
margin-top: 10px;
}

div.title {
	text-align: center;
}

div.box {
	background-color: #333;
	margin-top: 15px;
	padding: 10px 10px 10px 10px;
}

.postCollage {
	max-width: 250px;
}

div.leftdiv {
	max-width: 900px;
	margin-right: 20px;
}

.content {
clear:both;
height: auto;
}

.post-img{
     width: 20%;
     height: 215px;
	 float: left;
     padding: 0 20px 20px 0;
}

p.date{
	font-size: 12px;
}

p.content {

}


